* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 1920px;
  height: 100%;
  font-family: 'Comfortaa', cursive;
}

.ears-header {
  position: fixed;
  z-index: 1;
  min-height: 100px;
  width: 100%;
  background-color: rgb(20, 76, 113);
}

.menu {
  margin: 0 auto;
  max-width: 1168px;
  height: 100%;    
  display: flex;
}

.logo {
  width: 30%;
  height: 100%;
  padding-left: 20px;
}

.navigator {
  width: 100%;
  list-style-type: none;
  line-height: 100px;
}

.navigator li {
  display: inline;
  padding-right: 30px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.nav-link:hover {
  color: orangered;
  transition: all ease .5s;
}

.logo p {
  margin: 30px 0;
  color: lightgrey;
  font-size: 28px;
  font-weight: bold;
}

.decoration {
  color: orangered;
  font-weight: 300;
}

.main-section {
  padding-top: 100px;
  min-height: 550px;
}

.main-wrapper {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1168px;
  padding-bottom: 25px;
}

.main-info {
  width: 70%;
  height: 100%;
}

.product {
  width: 30%;
  height: auto;
  position: relative;
}

.product-img-1 {
  position: absolute;
  display: block;
  width: 300px;
  top: 20%;
  left: 0;
}

.product-img-2 {
  position: absolute;
  display: block;
  top: 10%;
  left: 60px;
  width: 170px;
}

.buy-button {
  width: 100%;
  height: auto;
  display: block;
}

.buy-button a {
  display: block;
  text-decoration: none;
  text-align: center;
  background: #E94543;
  width: 200px;
  height: 50px;
  margin: auto;
  padding-top: 17px;
  color: white;
  border-radius: 5px;
}

.buy-button a:hover {
  box-shadow: 1px 1px 15px 0 gray;
  transition: all ease .3s;
}

.product-name {
  color: white;
  text-align: center;
  font-size: 60px;
  margin-top: 100px;
}

.product-description {
  color: white;
  text-align: center;
  padding: 30px;
  font-weight: bold;
  text-shadow: 0 0 5px black;
}

.feedbacks {
  min-height: 250px;
  padding: 25px;
}

.fotorama {
  min-height: 250px;
  width: 600px;
  margin: 0 auto;
}

.feedback-photo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}

.feedback-text {
  text-align: center;
  width: 600px;
  padding: 25px;
  line-height: 25px;
  color: rgb(45,48,51);
}

.header {
  text-align: center;
  padding-bottom: 25px;
  color: rgb(45,48,51);
}

.slide {
  display: flex;
}

.img-wrapper {
  width: 200px;
  height: 200px;
  margin: auto 0;
}

.feedback-person-name {
  display: block;
  width: 150px;
  padding: 10px;
  text-align: center;
}

.content {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 85px;
  margin-bottom: 25px;
  box-shadow: 0 0px 20px 0px grey;
}

.content-header {
  text-align: center;
  margin-bottom: 30px;
}

.content-bloks {
  max-width: 1170px;
  margin: auto;
  display: flex;
  text-align: center;
}

.content h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(45,48,51);
  margin-top: 28px;
  margin-bottom: 18px;
}

.content p {
  color: rgb(45,48,51);
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bloks {
  width: 33.33%;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 37px;
  padding-bottom: 35px;
}

.advantages-img {
  width: 100px;
  border-radius: 100%;
}

.purchace {
  background-color: rgb(20, 76, 113);
  margin-top: -30px;
  box-shadow: 0 0px 30px 0px grey;
}

.purchace-wrapper {
  margin: 0 auto;
  max-width: 1170px;
  padding: 30px 0 30px 0;
  text-align: center;
}

.offer {
  background-color: white;
  display: inline-block;
  margin: 0 10px 0 10px;
  padding: 25px 0 25px 0;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0 black;
  text-align: center;
}

.offer:hover {
  box-shadow: 0px 0px 30px 0 gold;
  transition: all ease .5s;
}

.offer-header {
  text-transform: uppercase;
  color: rgb(45,48,51);
  margin-bottom: 20px;
}

.offer-main-header {
  color: white;
}

.old-price {
  color: grey;
  text-decoration: line-through;
  padding-top: 20px;
  margin: 5px;
}

.new-price {
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
}

.mini {
  font-size: 0.75em;
}

.offer-photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 1px 1px 25px 0 grey;
}

.ears-info {
  background-color: rgb(20, 76, 113);
  width: 100%;
  min-height: 250px;
  box-shadow: 0 0px 30px 0px grey;
}

.info {
  background: transparent;
  max-width: 1168px;
  width: auto;
  height: 100%;
  margin: auto;
  display: flex;
}

.footer-block {
  width: 33.33%;
  height: 100%;
  background: transparent;
  text-align: center;
  padding-top: 40px;
}

.footer-header {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-text {
  color: #9398B8;
  padding-top: 20px;
  line-height: 25px;
}

.bright {
  color: white;
}

.social {
  height: 50px;
  padding: 20px 0px 10px 0px;
  list-style: none;
}

.social-item {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.social-item a {
  background-image: url(../images/social-media-icons.png);
  background-repeat: no-repeat;
  display: block;
  width: inherit;
  height: inherit;
}

.social-item:not(:last-child) {
  margin-right: 19px;
}

.social-digg {
  background-position: -1px -0px;
}

.social-mail {
  background-position: -33px -0px;
}

.social-flickr {
  background-position: -65px -0px;
}

.social-phone {
  background-position: -97px -0px;
}

.social-item:hover {
  box-shadow: 1px 1px 5px black;
}

.ears-copyright {
  background: #0d344e;
  width: 100%;
  height: 100px;
}

.copyright {
  background: transparent;
  max-width: 1168px;
  width: auto;
  height: 100%;
  margin: auto;
  padding-top: 30px;
}

.sign {
  color: red;
  text-shadow: 1px 1px 1px black;
}

.copyright-text {
  color: gray;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.copyright-text a {
  text-decoration: none;
  color: white;
}

@media (max-width: 800px) {
  .offer {
    display: block;
    width: 50%;
    margin: 0 auto 25px auto;
  }
  
  .info {
    display: block;
  }
  
  .footer-block {
    width: 50%;
    margin-bottom: 35px;
    margin: auto auto 35px auto;
  }
  
  .ears-header {
    position: relative;
  }
  
  .main-section {
    padding: 0px;
  }
  
  .content-bloks{
    display: block;
  }
  
  .bloks {
    width: 70%;
    margin: auto;
  }

  .main-info {
    margin: 0 auto;
  }

  .product {
    display: none;
  }
}

@media (max-width: 900px) {
  .navigator {
    line-height: 55px;
    padding-left: 20px;
  }
}

                /* FORM begin */

.form-wrapper {
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 0 30px 0;
  text-align: center;
}

.quote {
  background: #0d344e;
  width: 100%;
}

.form-header {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.form-label {
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.text-area {
  margin-left: 10px;
  margin-right: 30px;
  border-radius: 7px;
  padding-left: 7px;
  padding-right: 7px;
  outline: none;
}

.label-wrapper {
  display: flex;
  height: 20px;
  text-align: right;
  width: 620px;
  margin-bottom: 10px;
}

.label-block {
  width: 50%;
}

.checkbox-wrap input {
  margin-right: 10px;
}

.checkbox-wrap {
  text-align: left;
  width: 300px;
  margin: 15px auto;
  padding-left: 50px;
}

.checkbox-wrap p {
  color: white;
  display: block;
  margin-bottom: 7px;
}

.checkbox-label {
  padding-top: 25px;
  display: block;
}

.submit-button {
  background: lightgreen;
  width: 200px;
  height: 50px;
  margin: auto;
  border-radius: 5px;
  font-size: 18px;
}

.submit-button:hover {
  box-shadow: 0px 0px 15px 0 gold;
  transition: all ease .3s;
  cursor: pointer;
  width: 250px;
}

.submit-button:not(:hover) {
  width: 200px;
  transition: all ease .3s;
}