<!DOCTYPE html>
<html>
  <head>
    <title>Ls</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/fotorama.css">
  <link rel="stylesheet" href="styles/table.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
